.page{
	background-color: honeydew;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}
.main{
	
}
.profile-image{
	
	height: 300px;
	border-radius: 50%;
	float: left;
	padding:50px;
}

.intro{
	text-align: justify;
	text-justify: inter-word;
	padding: 20px;
	
}
.about-me{
	color: rgb(69, 71, 68);
	font-size: 15px;

}
.student-corner{
	padding: 50px;
	
}
