.page{
	background-color: honeydew;
	align-items: center;
}
.main{
	
}
.profile-image{
	
	height: 300px;
	border-radius: 50%;
	float: left;
}
.image-container{
}
.intro{
	text-align: justify;
	  text-justify: inter-word;
	
}
.student-corner{
	
}
